@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --h1-ff: 'Big Shoulders Display', cursive;
    --p-ff: 'Lexend Deca', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px
}
.grid {
    max-width: 800px;
    height: auto;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
}
.grid h1 {
    color: white;
    font-family: var(--h1-ff);
    font-size: 2rem;
    font-weight: 600;
}
.grid p {
    color: white;
    font-family: var(--p-ff);
    line-height: 30px;
    opacity: 0.6;
}
.grid > div {
    display: grid;
    place-content: left;
    gap: 1rem;
    padding: 2rem;
}
.btn {
    width: 130px;
    height: 40px;
    font-family: var(--p-ff);
    font-weight: 600;
    background-color: white;
    color: inherit;
    border: none;
    border-radius: 25px;
    margin-top: 3rem;
    cursor: pointer;
}
.btn:hover {
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

.sedan {
    /* for the button to inherit */
    color: var(--Bright-orange);
    background-color: var(--Bright-orange);
}
.suv {
    color: var(--Dark-cyan);
    background-color: var(--Dark-cyan);
}
.luxury {
    color: var(--Very-dark-cyan);
    background-color: var(--Very-dark-cyan);
}

@media (max-width: 768px) {
    body {
        height: 100%;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
}